html,
body {
  width: 100px;
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
  background-color: rgb(243, 241, 241);
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
  background-color: rgb(65, 65, 65);
  border: 1px solid rgb(0, 0, 0);
}

.button:hover {
  background-color: rgb(26, 26, 26);
}

.normal {
  color: #e5a00d;
}

#custom-input {
  margin: 3% auto;
  padding: 4px;
  max-width: 90px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
  background-color: rgb(65, 65, 65);
  border: 1px solid rgb(0, 0, 0);
}
